 body{
    margin: 0;
} 
.top-container{
    background-color: #E4F9F5;
}
h1{
    margin:0;
}
.bottom-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}
.hero{
    text-decoration: underline;
}