 body{
    margin: 0;
    text-align: center;
    font-family: 'merriweather',serif;
    
} 

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1{
    margin:0;
    padding-top: 90px;
    font-family: 'Sacramento',cursive;
}
h2{
    font-family: 'Montserrat',sans-serif;

}
h3{
    font-family: 'Montserrat',sans-serif;
}
.bottom-container{
    background-color: red;
    height: 200px;
    width: 200px;
}
.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}
.hero{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 350px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right:380px;
    top:50px;
    padding-top: 80px;;
}